header{
  background-color: black;
  color : white;
}
nav {
  
  padding: 10px;
  margin-top : -9px;
  background-color : rgb(196, 193, 193);
  color : black;
 
}
thead {
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  background-color: rgb(37, 40, 43);
  color : white;
}
label{
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  color :rgba(2, 2, 7, 0.815);
  font-weight: Italic;
}


input{
  margin-bottom: 10px;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
h3{
  
  
  font: Arial;
  border-radius : 6px;
}

footer{
  color: white;
  background-color: black;
  padding :3px;
  border: 1px solid black;
  text-align: center;
}

li.upcoming{
  border : 1px solid grey;
  border-radius: 6px;
  padding : 6px;
  background-color:rgb(226, 225, 225);
}
ul.ulupcoming{
  list-style-type: none;
}

.aboutusHeader{
   color :white;
  border : 2px solid blue;
  background-color: blue;
  border-radius : 6px;
}
#row-header{
  color: white;
}

#row-body{
  color : black
}


#sort-table{
 
  
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
}


th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #fcf8f8 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 3;
  color: black;
}